<div class="subnav" data-group="fight-action-type">
    <a class="subnav-item active" data-group="fight-action-type" data-tab="attack">{{ localize
        "splittermond.attack" }}</a>
    <a class="subnav-item" data-group="fight-action-type" data-tab="defense">{{ localize
        "splittermond.activeDefense"
        }}</a>
</div>
<div class="tab-list">
    <div class="tab" data-tab="attack" data-group="fight-action-type">
        <div class="list attack" data-roll-type="attack">
            <div class="list-header">
                <h3>{{localize "splittermond.weapons"}}</h3>
                <div class="value">{{localize "splittermond.skillValueAbbrev"}}</div>
                <div class="damage">{{localize "splittermond.damage"}}</div>
                <div class="range">{{localize "splittermond.rangeAbbrev"}}</div>
                <div class="weapon-speed">{{localize "splittermond.weaponSpeedAbbrev"}}</div>
                <div class="features">{{localize
                    "splittermond.features"}}
                </div>
            </div>
            <ol class="list-body">
                {{#each attacks}}
                <li class="list-item draggable" data-attack-id="{{this._id}}">
                    <img width="32" height="32" src="{{{this.img}}}">
                    <label>
                        <a class="rollable">{{localize this.name}} {{#if this.isDamaged}} ({{localize "splittermond.damageLevels.tarnished"}}){{/if}}</a>
                    </label>
                    <div class="value">
                        {{#if this.skill.editable}}
                        <input name="data.skills.{{this.skillId}}.value" type="text"
                            data-skill-value="{{this.skill.value}}" value="{{this.skill.value}}" data-dtype="Number">
                        {{else}}
                        {{this.skill.value}}
                        {{/if}}

                    </div>
                    <div class="damage">
                        <a class="rollable" data-roll-type="damage" data-damage="{{this.damage}}"
                            data-features="{{this.features}}" data-source="{{this.name}}">{{this.damage}}</a>
                    </div>
                    <div class="range">{{this.range}}</div>
                    <div class="weapon-speed">
                        <a class="add-tick" data-ticks="{{this.weaponSpeed}}"
                            data-message="{{localize 'splittermond.attack'}}: {{this.name}}">
                            {{this.weaponSpeed}}
                        </a>
                    </div>
                    <div class="features" title="{{this.features}}">{{this.features}}</div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
    <div class="tab active" data-tab="defense" data-group="fight-action-type">
        <div class="list active-defense" data-roll-type="activeDefense">
            <div class="list-header">
                <h3>{{localize "splittermond.derivedAttribute.defense.long"}}</h3>
                <div class="value">{{localize "splittermond.skillValueAbbrev"}}</div>
                <div class="features">{{localize
                    "splittermond.features"}}
                </div>
            </div>
            <ol class="list-body" data-defense-type="defense">
                {{#each activeDefense.defense}}
                <li class="list-item" data-defense-id="{{this._id}}">
                    {{#if this.img}}
                    <img width="32" height="32" src="{{{this.img}}}">
                    {{/if}}
                    <label>
                        <a class="rollable">{{localize this.name}}</a>
                    </label>
                    <div class="value">{{this.skill.value}}</div>
                    <div class="features" title="{{this.features}}">{{this.features}}</div>
                </li>
                {{/each}}
            </ol>
            <div class="list-header">
                <h3>{{localize "splittermond.derivedAttribute.mindresist.long"}}</h3>
                <div class="value">{{localize "splittermond.skillValueAbbrev"}}</div>
            </div>
            <ol class="list-body" data-defense-type="mindresist">
                {{#each activeDefense.mindresist}}
                <li class="list-item" data-defense-id="{{this._id}}">
                    {{#if this.img}}
                    <img width="32" height="32" src="{{{this.img}}}">
                    {{/if}}
                    <label>
                        <a class="rollable">{{localize this.name}}</a>
                    </label>
                    <div class="value">{{this.skill.value}}</div>
                </li>
                {{/each}}
            </ol>
            <div class="list-header">
                <h3>{{localize "splittermond.derivedAttribute.bodyresist.long"}}</h3>
                <div class="value">{{localize "splittermond.skillValueAbbrev"}}</div>
            </div>
            <ol class="list-body" data-defense-type="bodyresist">
                {{#each activeDefense.bodyresist}}
                <li class="list-item" data-defense-id="{{this._id}}">
                    {{#if this.img}}
                    <img width="32" height="32" src="{{{this.img}}}">
                    {{/if}}
                    <label>
                        <a class="rollable">{{localize this.name}}</a>
                    </label>
                    <div class="value">{{this.skill.value}}</div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>