<div class="derived-attribute-list">
    {{#each derivedAttributes as |attribute attributeId|}}
    <div class="derived-attribute" id="{{attributeId}}">
        <label>{{localize attribute.label.short}}</label>
        {{#if attribute.editable}}
        <input name="derivedAttributes.{{attributeId}}" type="text" value="{{attribute.value}}"
            data-dtype="Number">
        {{else}}
        <span>{{attribute.value}}</span>
        {{/if}}
    </div>
    {{/each}}
    <div class="damage-reduction">
        <label>{{localize "splittermond.damageReductionAbbrev"}}</label>
        {{#if damageReduction.editable}}
        <input name="damageReduction" type="text" value="{{damageReduction.value}}" data-dtype="Number">
        {{else}}
        <span>{{damageReduction.value}}</span>
        {{/if}}
    </div>
</div>

