<div class="list masteries" data-item-type="mastery">
    <div class="list-header">
        <h3>{{localize "splittermond.masteries"}}</h3>
        <div class="list-actions">
            <button class="button-inline" type="button" data-action="add-item" data-render-sheet="true">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <ol class="list-body">
        {{#*inline "masteriesBySkill"}}
        <li class="list-item" data-skill="{{skillId}}"><label>{{localize skill.label}}</label>
            <ul class="taglist">
                {{#each skill.masteries}}
                <li class="taglist-item draggable" data-item-id="{{this._id}}">
                    <div class="taglist-item-name"><a data-action="edit-item">{{this.name}}</a></div>

                    <div class="taglist-item-actions">
                        <button class="button-inline" type="button" data-action="delete-item">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </li>
                {{/each}}

                <li class="taglist-actions">
                    <button class="button-inline" type="button" data-action="add-item" data-render-sheet="true">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </button>
                </li>
            </ul>
        </li>
        {{/inline}}

        {{#with masteriesBySkill.none}}
        {{>masteriesBySkill skillId="none" skill=this}}
        {{/with}}

        {{#each generalSkills}}
        {{#with (lookup ../masteriesBySkill @key)}}
        {{>masteriesBySkill skillId=@key skill=this}}
        {{/with}}
        {{/each}}

        {{#each fightingSkills}}
        {{#with (lookup ../masteriesBySkill @key)}}
        {{>masteriesBySkill skillId=@key skill=this}}
        {{/with}}
        {{/each}}

        {{#each magicSkills}}
        {{#with (lookup ../masteriesBySkill @key)}}
        {{>masteriesBySkill skillId=@key skill=this}}
        {{/with}}
        {{/each}}
    </ol>

</div>