<div>
    {{#if hasRestActions}}
    <div class="row">
        <button type="button" data-action="short-rest">
            {{localize "splittermond.shortRest"}}
        </button>
        <button type="button" data-action="long-rest">
            {{localize "splittermond.longRest"}}
        </button>
    </div>
    {{/if}}
    <div class="damage">
        <div class="list">
            <div class="list-header">
                <h3>{{localize "splittermond.channeledDamage"}}</h3>
                <div class="list-actions">
                    <button class="button-inline" type="button" data-action="add-channeled-health"
                        data-render-sheet="0">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <ol class="list-body" data-array="data.health.channeled.entries">
                {{#each channeledHealthEntries}}
                <li class="list-item" data-index="{{@index}}">
                    <input data-array-field="description" type="text" value="{{this.description}}">

                    <div class="costs"><input data-array-field="costs" type="text" value="{{this.costs}}"
                            data-dtype="Number"></div>
                    <div class="list-actions">
                        <button class="button-inline" type="button" data-action="delete-array-element">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>

    </div>
    <div class="status-effects">
        <div class="list" data-item-type="statuseffect">
            <div class="list-header">
                <h3>{{localize "splittermond.statusEffects"}}</h3>
                <div class="list-actions">
                    <button class="button-inline" type="button" data-action="add-item" data-render-sheet="0">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <ol class="list-body">
                {{#each statuseffects}}
                <li class="list-item draggable" data-item-id="{{this._id}}">
                    <input class="name" type="text" data-field="name" value="{{this.name}}">
                    <div class="value">
                        <input type="text" data-field="data.level" value="{{this.data.level}}" data-dtype="Number">
                    </div>
                    <div class="list-actions">
                        <button class="button-inline" data-action="edit-item" type="button"><i class="fa fa-edit"
                                aria-hidden="true"></i></button>
                        <button class="button-inline" type="button" data-action="delete-item"><i class="fas fa-trash"
                                aria-hidden="true"></i></button>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
    <div class="spell-effects">
        <div class="list" data-item-type="spelleffect">
            <div class="list-header">
                <h3>{{localize "splittermond.spellEffects"}}</h3>
                <div class="list-actions">
                    <button class="button-inline" type="button" data-action="add-item" data-render-sheet="0">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <ol class="list-body">
                {{#each spelleffects}}
                <li class="list-item draggable" data-item-id="{{this._id}}">
                    <div>
                        <input data-field="data.active" type="checkbox" value="true" {{#if
                            this.data.active}}checked{{/if}} />
                    </div>
                    <input class="name" type="text" data-field="name" value="{{this.name}}">
                    <div class="list-actions">
                        <button class="button-inline" data-action="edit-item" type="button"><i class="fa fa-edit"
                                aria-hidden="true"></i></button>
                        <button class="button-inline" type="button" data-action="delete-item"><i class="fas fa-trash"
                                aria-hidden="true"></i></button>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>