<form class="{{cssClass}}" autocomplete="off">
    <header class="column flex-gap">
        <section class="row flex-gap">
            <div class="character-image">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="92" width="92"
                    class="profile-img" />
            </div>
            <div class="column stretch">
                <input class="character-name" name="name" type="text" value="{{actor.name}}"
                        placeholder="{{localize 'splittermond.name' }}" />
                <div class="experience">
                    <div class="bar">
                        <div style="width: {{data.experience.percentage}}%"></div>
                    </div>
                    <div class="experience-label">
                        {{localize "splittermond.heroLevel"}} {{data.experience.heroLevel}} -
                        {{data.experience.heroLevelName}}
                    </div>
                    <div class="experience-value">
                        <input class="autoexpand" name="data.experience.free" type="text"
                            value="{{data.experience.free}}" placeholder="{{localize 'splittermond.xpFree'}}" /> -
                        <input class="autoexpand" name="data.experience.spent" type="text"
                            value="{{data.experience.spent}}" placeholder="{{localize 'splittermond.xpSpent'}}" /> -
                        {{data.experience.nextLevelValue}}
                    </div>
                </div>
                <div>
                    <input class="autoexpand" name="data.species.value" type="text" value="{{data.species.value}}"
                        placeholder="{{localize 'splittermond.species'}}" />
                    &nbsp;&middot;&nbsp;
                    <input class="autoexpand" name="data.sex" type="text" value="{{data.sex}}"
                        placeholder="{{localize 'splittermond.sex'}}" />
                    &nbsp;&middot;&nbsp;
                    <input class="autoexpand" name="data.culture" type="text" value="{{data.culture}}"
                        placeholder="{{localize 'splittermond.culture'}}" />
                    &nbsp;&middot;&nbsp;
                    <input class="autoexpand" name="data.ancestry" type="text" value="{{data.ancestry}}"
                        placeholder="{{localize 'splittermond.ancestry'}}" />
                    &nbsp;&middot;&nbsp;
                    <input class="autoexpand" name="data.education" type="text" value="{{data.education}}"
                        placeholder="{{localize 'splittermond.education'}}" />
                </div>

            </div>
            <div class="moonsign">                
                
                <div class="moonsign-splinterpoints" title="{{localize 'splittermond.splinterpoints'}}">
                    <button class="button-inline" type="button" data-action="dec-value" data-input-query="input[name='data.splinterpoints.value']">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                    <input type="text" name="data.splinterpoints.value" value="{{data.splinterpoints.value}}"
                        data-dtype="Number">
                    <span> / {{data.splinterpoints.max}}</span>
                    <button class="button-inline" type="button" data-action="inc-value" data-input-query="input[name='data.splinterpoints.value']">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
                {{#each itemsByType.moonsign}}
                    <img class="moonsign-image" src="{{this.img}}" title="{{this.name}}" height="64" width="64" />
                    <label class="moonsign-label"><a data-action="edit-item" data-item-id="{{this._id}}">{{this.name}}</a></label>
                {{/each}}
                {{#unless itemsByType.moonsign}}
                    <div class="moonsign-image"></div>  
                    <label class="moonsign-label"><a data-item-type="moonsign" data-action="add-item" class="moonsign-label">{{localize 'splittermond.moonsigns.add.title'}}</a></label>
                {{/unless}}
            </div>
        </section>
        {{#unless limited}}
        <section class="column">
            {{> "systems/splittermond/templates/sheets/actor/parts/focus-health.hbs" focus=data.focus
            health=data.health hasRestActions=true}}
            {{> "systems/splittermond/templates/sheets/actor/parts/derived-attributes.hbs"
            derivedAttributes=data.derivedAttributes damageReduction=data.damageReduction}}
        </section>
        {{/unless}}
    </header>
    {{#unless limited}}
    <nav class="sheet-navigation" data-group="primary">
        <a class="sheet-navigation-item" data-tab="biography">{{ localize "splittermond.biography" }}</a>
        <a class="sheet-navigation-item active" data-tab="general">{{ localize "splittermond.general" }}</a>
        <a class="sheet-navigation-item" data-tab="skills">{{ localize "splittermond.skills" }}</a>
        <a class="sheet-navigation-item" data-tab="spells">{{ localize "splittermond.spells" }}</a>
        <a class="sheet-navigation-item" data-tab="fight">{{ localize "splittermond.fight" }}</a>
        <a class="sheet-navigation-item" data-tab="inventory">{{ localize "splittermond.inventory" }}</a>
        <a class="sheet-navigation-item" data-tab="status">{{ localize "splittermond.status" }}</a>
    </nav>
    <main>
        <section class="tab" data-group="primary" data-tab="biography">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </section>
        <section class="tab" data-group="primary" data-tab="general">
            <div class="list list-attributes">
                <div class="list-header">
                    <h3>{{localize "splittermond.attributes"}}</h3>
                    <div class="start">{{localize "splittermond.start"}}</div>
                    <div class="value">{{localize "splittermond.value"}}</div>
                    <div class="max">{{localize "splittermond.max"}}</div>
                </div>
                <ul class="list-body">
                    {{#each data.attributes as |attribute attributeId|}}
                    <li class="list-item attribute">
                        <label for="data.attributes.{{attributeId}}.value"
                            title="{{localize attribute.label.long}}">{{localize
                            attribute.label.long}}</label>
                        <div class="start">
                            <input name="data.attributes.{{attributeId}}.start" type="text" value="{{attribute.start}}"
                                data-dtype="Number">
                        </div>
                        <div class="value">
                            <input name="data.attributes.{{attributeId}}.value" type="text" value="{{attribute.value}}"
                                data-dtype="Number">
                        </div>
                        <div class="max">{{attribute.max}}</div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="list" data-item-type="strength">
                <div class="list-header">
                    <h3>{{localize "splittermond.strengths"}}</h3>
                    <div class="list-actions">
                        <button class="button-inline" type="button" data-action="add-item" data-render-sheet="false">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <ul class="list-body strengths">
                    {{#each itemsByType.strength}}
                    <li class="list-item" data-item-id="{{this._id}}">
                        <div class="name">{{this.name}}
                            {{#if this.multiple}}
                            (x{{this.data.quantity}})
                            {{/if}}
                        </div>
                        <div class="list-actions">
                            <button class="button-inline" data-action="edit-item" type="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <button class="button-inline" data-action="delete-item" type="button">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="list" data-item-type="weakness">
                <div class="list-header">
                    <h3>{{localize "splittermond.weaknesses"}}</h3>
                    <div class="list-actions">
                        <button class="button-inline" type="button" data-action="add-item" data-render-sheet="false">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <ul class="list-body weaknesses">
                    {{#each itemsByType.weakness}}
                    <li class="list-item" data-item-id="{{this._id}}">
                        <input class="name" type="text" data-field="name" value="{{this.name}}">
                        <div class="list-actions">
                            <button class="button-inline" data-action="edit-item" type="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <button class="button-inline" type="button" data-action="delete-item">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </li>
                    {{/each}}
                </ul>

            </div>
            <div class="list" data-item-type="resource">
                <div class="list-header">
                    <h3>{{localize "splittermond.resources"}}</h3>
                    <div class="list-actions">
                        <button class="button-inline" type="button" data-action="add-item" data-render-sheet="0">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <ul class="list-body list-resources">
                    {{#each itemsByType.resource}}
                    <li class="list-item" data-item-id="{{this._id}}">
                        <div><input class="name" type="text" data-field="name" value="{{this.name}}"></div>
                        <div class="value"><input type="text" data-field="data.value" value="{{this.data.value}}" data-dtype="Number"></div>
                        <div class="list-actions">
                            <button class="button-inline" data-action="edit-item" type="button"><i class="fa fa-edit"
                                    aria-hidden="true"></i></button>
                            <button class="button-inline" type="button" data-action="delete-item"><i
                                    class="fas fa-trash" aria-hidden="true"></i></button>
                        </div>
                    </li>

                    {{/each}}
                </ul>

            </div>
            <div class="list" data-item-type="language">
                <div class="list-header">
                    <h3>{{localize "splittermond.languages"}}</h3>
                    <div class="list-actions">
                        <button class="button-inline" type="button" data-action="add-item" data-render-sheet="0">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <ul class="list-body languages">
                    {{#each itemsByType.language}}
                    <li class="list-item" data-item-id="{{this._id}}">
                        <input class="name" type="text" data-field="name" value="{{this.name}}">
                        <div class="list-actions">
                            <button class="button-inline" data-action="edit-item" type="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <button class="button-inline" type="button" data-action="delete-item">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="list" data-item-type="culturelore">
                <div class="list-header">
                    <h3>{{localize "splittermond.culturelore"}}</h3>
                    <div class="list-actions">
                        <button class="button-inline" type="button" data-action="add-item" data-render-sheet="0">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <ul class="list-body culturelores">
                    {{#each itemsByType.culturelore}}
                    <li class="list-item item" data-item-id="{{this._id}}">
                        <input class="name" type="text" data-field="name" value="{{this.name}}">
                        <div class="list-actions">
                            <button class="button-inline" data-action="edit-item" type="button">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>
                            <button class="button-inline" type="button" data-action="delete-item">
                                <i class="fas fa-trash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>
        <section class="tab" data-group="primary" data-tab="skills">
            {{> "systems/splittermond/templates/sheets/actor/parts/attribute-input.hbs" attributes=data.attributes}}
            <div class="list skills" data-roll-type="skill">
                <div class="list-header">
                    <h3>{{localize "splittermond.generalSkills"}}</h3>
                    <div class="list-actions">
                        <button class="button-inline" data-action="show-hide-skills" type="button">
                            {{#if hideSkills}}
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                            {{/if}}
                        </button>
                    </div>
                </div>
                <ol class="list-body skill-list">
                    {{#each data.generalSkills as |skill skillId|}}
                    {{#if skill.isVisible}}
                    <li class="list-item draggable" data-skill="{{skillId}}">
                        <label>
                            <a class="rollable">
                                {{localize skill.label}}
                            </a>
                        </label>
                        <div class="points">
                            <input class="spinner spinner-horizontal" name="data.skills.{{skillId}}.points" type="text" value="{{skill.points}}">
                        </div>
                        <div class="attribute">{{localize skill.attribute1.label}}</div>
                        <div class="attribute">{{localize skill.attribute2.label}}</div>
                        <div class="value">{{skill.value}}</div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>
                <div class="list-header">
                    <h3>{{localize "splittermond.fightingSkills"}}</h3>
                    <div class="list-actions">
                        <button class="button-inline" data-action="show-hide-skills" type="button">
                            {{#if hideSkills}}
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                            {{/if}}
                        </button>
                    </div>
                </div>
                <ol class="list-body skill-list">
                    {{#each data.fightingSkills as |skill skillId|}}
                    {{#if skill.isVisible}}
                    <li class="list-item" data-skill="{{skillId}}">
                        <label>
                            {{localize skill.label}}
                        </label>
                        <div class="points">
                            <input name="data.skills.{{skillId}}.points" type="text" value="{{skill.points}}">
                        </div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>
                <div class="list-header">
                    <h3>{{localize "splittermond.magicSkills"}}</h3>
                    <div class="list-actions">
                        <button class="button-inline" data-action="show-hide-skills" type="button">
                            {{#if hideSkills}}
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            {{else}}
                            <i class="fa fa-eye-slash" aria-hidden="true"></i>
                            {{/if}}
                        </button>
                    </div>
                </div>
                <ol class="list-body skill-list">
                    {{#each data.magicSkills as |skill skillId|}}
                    {{#if skill.isVisible}}
                    <li class="list-item draggable" data-skill="{{skillId}}">
                        <label>
                            <a class="rollable">{{localize skill.label}}</a>
                        </label>
                        <div class="points">
                            <input name="data.skills.{{skillId}}.points" type="text" value="{{skill.points}}">
                        </div>
                        <div class="attribute">{{localize skill.attribute1.label}}</div>
                        <div class="attribute">{{localize skill.attribute2.label}}</div>
                        <div class="value">{{skill.value}}</div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ol>
            </div>
            {{> "systems/splittermond/templates/sheets/actor/parts/mastery-list.hbs"
            masteriesBySkill=masteriesBySkill generalSkills=data.generalSkills fightingSkills=data.fightingSkills
            magicSkills=data.magicSkills}}
        </section>
        <section class="tab" data-group="primary" data-tab="spells">
            <div>
                {{> "systems/splittermond/templates/sheets/actor/parts/spells-list.hbs" spellsBySkill=spellsBySkill
                channeledSpells=data.focus.channeled.entries}}
            </div>
        </section>
        <section class="tab" data-group="primary" data-tab="fight">
            <div>
                {{> "systems/splittermond/templates/sheets/actor/parts/combat-actions.hbs"
                activeDefense=data.activeDefense attacks=data.attacks}}
            </div>
        </section>
        <section class="tab" data-group="primary" data-tab="inventory">
            <div>
                {{> "systems/splittermond/templates/sheets/actor/parts/inventory-list.hbs" itemsByType=itemsByType
                currency=data.currency}}
            </div>
        </section>
        <section class="tab" data-group="primary" data-tab="status">
            {{> "systems/splittermond/templates/sheets/actor/parts/status-tab.hbs"
            channeledHealthEntries=data.health.channeled.entries statuseffects=itemsByType.statuseffect
            spelleffects=itemsByType.spelleffect
            hasRestActions=true}}
        </section>

    </main>
    {{/unless}}
</form>